@model IEnumerable<MantoxWebApp.Models.Sede>

<div class="form-group">
    <label>Sede</label>
    @Html.DropDownList("Id_Sede", (MultiSelectList)ViewBag.Sedes, new { @class = "select2 form-control nivel2" })
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //Eliminar selección predeterminada de empresa
        $('#Id_Sede').val([]);

        //Carga asincrónica de los edificios al seleccionar la sede
        $("#Id_Sede").on("blur mouseup change", (function () {
            $('.nivel3').empty();
            var idSede = $("#Id_Sede").val();
            $("#divResultadoEdificios").html(animacionCargaDeSelect);
            $("#divResultadoEdificios").load('@(Url.Action("FiltrarEdificios", "Edificio",null, Request.Url.Scheme))?idSede=' + idSede);
        }));

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
    });
</script>
