<div class="row">
    <div class="col-sm-6">
        &nbsp;
    </div>
    <div class="col-sm-6">
        <div class="dataTables_filter pull-right">
            <form class="navbar-form" role="search" id="search_cells_form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar..." name="search_cells" id="search_cells">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="reset" id="search_cells_reset" title="Limpiar búsqueda"><i class="glyphicon glyphicon-remove-circle"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<table id="grid-table"></table>

<div id="grid-pager"></div>

<div id='mygrid-panel' class='scroll'></div> <!-- nav layer -->

<script type="text/javascript">
	var $path_base = ".";//in Ace demo this will be used for editurl parameter
</script>
